.emr-header {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.7rem 0 0.25rem 1.25rem;
  background: $lightblue;
  color: $blue;
  font-size: 2rem;
  z-index: 100;

  .emr-header-element{
    flex: 1 1 auto;
    padding-right: 1rem;

    &__name {
      font-weight: $font-weight-bold;
    }

    &__address__icon {
      margin-right: 0.5rem;
      font-size: 1.2rem;
      flex: 0 0 auto;
    }
  }

}
