.emr-footer {
  display: flex;
  position: sticky;
  bottom: 0;
  left: 0;
  height: $footer-height;
  width: 100%;
  border-top: 1px solid $gray-200;
  margin-top: $space-xs;
  background: $lightblue;
  z-index: 100;
  
  & > * {
    margin: ($space-xs / 2);
  }
}